volumes:
  shopdb-data:
  pgadmin-data:


services:
  db:
    image: postgres
    env_file: "backend/dev.env"
    volumes:
      - shopdb-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.org
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
