@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: #ffffff;
  --color-background-dark: #171717;
  --color-surface-dark: #25241f;
  --color-surface: #dbdbdb;
  --color-text: #1a1a1a;
  --color-text-dark: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.logo-font {
  font-family: 'Casual-Regular', sans-serif;
  /* color:  #dbdbdb; */
}
